# macOS
.DS_Store

# finetuning data
data/*
 
# everything except for pipeline notebook in model folder
mace-mh-1/**
!mace-mh-1/mace-ft-pipeline.ipynb

# data cleaning cache contents
data-processing/cache/*
!data-processing/cache/.gitkeep

# training data
training-data/*
!.gitkeep
