# macOS
.DS_Store

# for when using pipeline w/o making structural changes
# data-processing/ag-data-selection.ipynb

# pre-processing
data-processing/.env
data-processing/incars.zip
data-processing/outcars.zip
data-processing/incars/*
data-processing/outcars/*

# finetuning data
training-data/*
 
# everything except for pipeline notebooks and folders in model folder
mace-mh-1/checkpoints/*
mace-mh-1/logs/*
mace-mh-1/models/*
mace-mh-1/results/*
#!mace-mh-1/mace-ft-pipeline.ipynb
!mace-mh-1/results/post-processing.ipynb

# data cleaning cache contents
#data-processing/cache/*
#!data-processing/cache/.gitkeep

# training data
training-data/*
!.gitkeep
