# macOS
.DS_Store

# for when using pipeline w/o making structural changes
# data-processing/ag-data-selection.ipynb

# pre-processing
data-processing/.env
data-processing/incars.zip
data-processing/outcars.zip
data-processing/incars/*
data-processing/outcars/*
data-processing/*.png
data-processing/**/*.png
data-processing/find_o2_runs.py
data-processing/cache/box_EO_Project_reactivity/*
data-processing/cache/dropbox_O2DissociationSAA_2/*

# training data
training-data/*
!training-data/gas-phase-dft-data
!training-data/folds
training-data/gas-phase-dft-data/*
training-data/folds/*

# everything except for pipeline notebooks and folders in model folder
mace-mh-1/direct-finetune/results/*
!mace-mh-1/direct-finetune/results/post-processing.ipynb
!mace-mh-1/direct-finetune/results/logs/*

# test scripts (for cv-optuna pipeline)
mace-mh-1/cv-optuna/test_*

.claude/